NEXT_PUBLIC_HOOK_ADDRESS=0x6DCb771F0A8A61F2679989453af9549C9ceA89c0
NEXT_PUBLIC_FUND_ADDRESS=0x4D575ac6C3df76C7E22EB59715F0a9e839f16811
NEXT_PUBLIC_AGENT_0=http://localhost:4000
NEXT_PUBLIC_AGENT_1=http://localhost:4001
NEXT_PUBLIC_AGENT_2=http://localhost:4002
NEXT_PUBLIC_WC_PROJECT_ID=demo
